<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.joshlevy.tech">
            Josh
          </a>
        </li>
        <li>
          <a href="https://joshlevy.tech/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.joshlevy.tech">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.joshlevy.tech/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, made with <i class="material-icons">favorite</i> by
      <a href="https://www.joshlevy.tech" target="_blank">Josh</a> for a better web.
    </div>
  </div>
</footer>
